.home-component {
    .navBar {
        background-color: lightblue;
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .content {
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }
    button {
        cursor: pointer ;
    }
}